parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @return contains generic type Phunkie\\Streams\\Type\\Stream\<string\> but class Phunkie\\Streams\\Type\\Stream is not generic\.$#'
			identifier: generics.notGeneric
			count: 1
			path: src/Functions/file.php

		-
			message: '#^Property Phunkie\\Streams\\Infinite\\Timer\:\:\$limit \(int\|null\) does not accept float\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Infinite/Timer.php

		-
			message: '#^Class Phunkie\\Streams\\Type\\Scope does not have a constructor and must be instantiated without any parameters\.$#'
			identifier: new.noConstructor
			count: 1
			path: src/Pull/InfinitePull.php

		-
			message: '#^Method Phunkie\\Streams\\Pull\\InfinitePull\:\:toArray\(\) should return array but returns Generator\.$#'
			identifier: return.type
			count: 1
			path: src/Pull/InfinitePull.php

		-
			message: '#^Call to an undefined method Phunkie\\Streams\\IO\\Resource\:\:pull\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Pull/ResourceObjectPull.php

		-
			message: '#^Call to an undefined method Phunkie\\Streams\\Type\\Pull\:\:drain\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Stream/Compiler.php

		-
			message: '#^Call to an undefined method Phunkie\\Streams\\Type\\Pull\:\:runLog\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Stream/Compiler.php

		-
			message: '#^Access to an undefined property Phunkie\\Streams\\Stream\\Compiler\:\:\$drain\.$#'
			identifier: property.notFound
			count: 1
			path: src/Type/Stream.php

		-
			message: '#^Anonymous function has an unused use \$bytes\.$#'
			identifier: closure.unusedUse
			count: 1
			path: src/Type/Stream.php

		-
			message: '#^Call to an undefined method Phunkie\\Types\\Kind\:\:flatMap\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Type/Stream.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$context$#'
			identifier: parameter.notFound
			count: 1
			path: src/Type/Stream.php

		-
			message: '#^PHPDoc tag @return contains generic type Phunkie\\Streams\\Type\\Stream\<Phunkie\\Validation\\Validation\> but class Phunkie\\Streams\\Type\\Stream is not generic\.$#'
			identifier: generics.notGeneric
			count: 1
			path: src/Type/Stream.php
