parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        # Ignore undefined $this in global functions (common pattern in PHP)
        -
            message: '#Undefined variable: \$this#'
            path: src/Functions/*.php
